@import 'reset';
@import 'variables/global.scss';
@import 'themes/dark.scss';
@import 'themes/lite.scss';


body{
  font: var(--font-m);
  color: var(--primary-color);

}

.app {

    background: var(--bg-color);

    min-height: 100vh;    
}


.content-page{
    display: flex; 
}

.page-wrapper{
  flex-grow: 1;
  padding: 20px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  width: 100%;
  flex-shrink: 100;
}



