@import 'reset';
@import 'variables/global.scss';
@import 'themes/dark.scss';
@import 'themes/lite.scss';


body{
  font: var(--font-m);
  color: var(--primary-color);

}

.app {

    background: var(--bg-color);

    min-height: 100vh;    
}


.content-page{
    display: flex; 
}


*::-webkit-scrollbar {
  width: 10px;               /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);    /* цвет плашки */
  border-radius: 18px;       /* закругления плашки */
  border: 1px solid var(--primary-color);  /* padding вокруг плашки */ 
}





