@import 'reset';
@import 'variables/global.scss';
@import 'themes/dark.scss';
@import 'themes/lite.scss';


body{
  font: var(--font-m);
  color: var(--primary-color);

}

.app {

    background: var(--bg-color);

    min-height: 100vh;    
}


.content-page{
    display: flex; 
}





