.Button{
    cursor: pointer;
}


.clear{
    border: none;
    outline: none;
    padding: 0%;
    background: none;
}

.outline{
    padding: 10px 15px ;
    border: 1px solid var(--primary-color);
    color:  var(--primary-color);
    background: none
}