.Sidebar{
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-with);
    background: var(--inverted-bg-color); 
    position: relative;
    transition: 0.3s;
}


.collapsed{
    width: var(--sidebar-with-collapsed);

    .switchers{
        flex-direction: column;
        align-items: center;
    }

    .lang{
        margin-left: 0;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}

.switchers{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}


.collapsedBtn{
    position: absolute;
    right: -40px;
    bottom: 40px;
}


.items{
    display: flex;
    margin-left: 25px;
    flex-direction: column;
    margin-top: 20px;
}

.link{
    margin-top: 10px;
    margin-left:  20px;
}


.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}


.icon {
    fill: var(--inverted-primary-color);
}