.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.text {
    font: var(--font-m);
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}


.right{
    text-align: right;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}
