.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links, .actions {  
  margin-left: auto;
  
}

.links a {
  text-decoration: none;
}



.appName{
  width: var(--sidebar-with);
  margin-left: 15px;
}




